In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('IceCreamDataSet.xlsx')

In [3]:
df.head()

          Customer       Date     Flavor  Revenue  Profit
0  Dennis Perelman 2018-03-28  Chocolate      2.0     1.0
1       Don Frazon 2018-03-28    Vanilla      2.0     1.0
2    Drew Roulette 2018-03-28    Vanilla      2.0     1.0
3    Erin Davidson 2018-03-28    Vanilla      2.0     1.0
4   Ian Richardson 2018-03-28    Vanilla      2.0     1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 5 columns):
Customer    86 non-null object
Date        86 non-null datetime64[ns]
Flavor      86 non-null object
Revenue     83 non-null float64
Profit      82 non-null float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 3.4+ KB

In [5]:
df.describe()

         Revenue     Profit
count  83.000000  82.000000
mean    4.060241   2.987805
std     0.985868   0.904296
min     2.000000   1.000000
25%     4.000000   3.000000
50%     4.000000   3.000000
75%     5.000000   3.750000
max     5.000000   3.750000

In [6]:
df.isnull().head()

   Customer   Date  Flavor  Revenue  Profit
0     False  False   False    False   False
1     False  False   False    False   False
2     False  False   False    False   False
3     False  False   False    False   False
4     False  False   False    False   False

In [7]:
df = pd.read_excel('IceCreamDataSet.xlsx')
df.isnull().sum()

Customer    0
Date        0
Flavor      0
Revenue     3
Profit      4
dtype: int64

In [8]:
df.set_index(np.arange(10,870,10),inplace= True)

In [9]:
df.head()

           Customer       Date     Flavor  Revenue  Profit
10  Dennis Perelman 2018-03-28  Chocolate      2.0     1.0
20       Don Frazon 2018-03-28    Vanilla      2.0     1.0
30    Drew Roulette 2018-03-28    Vanilla      2.0     1.0
40    Erin Davidson 2018-03-28    Vanilla      2.0     1.0
50   Ian Richardson 2018-03-28    Vanilla      2.0     1.0

In [10]:
df.reset_index(drop=True)

            Customer       Date          Flavor  Revenue  Profit
0    Dennis Perelman 2018-03-28       Chocolate      2.0    1.00
1         Don Frazon 2018-03-28         Vanilla      2.0    1.00
2      Drew Roulette 2018-03-28         Vanilla      2.0    1.00
3      Erin Davidson 2018-03-28         Vanilla      2.0    1.00
4     Ian Richardson 2018-03-28         Vanilla      2.0    1.00
5      Sean Lansfrow 2018-03-28         Vanilla      2.0    1.00
6      Sierra Noonan 2018-03-28       Chocolate      2.0    1.00
7     Silvio Carrera 2018-03-28         Vanilla      2.0     NaN
8     Silvio Carrera 2018-03-28         Vanilla      2.0    1.00
9          Ted Price 2018-03-28       Chocolate      2.0    1.00
10        Don Frazon 2018-03-28  Chocolate Chip      2.5    1.25
11     Erin Davidson 2018-03-28  Chocolate Chip      2.5    1.25
12  Malcolm Benjamin 2018-03-28  Chocolate Chip      2.5    1.25
13      Tony DiCenzo 2018-03-28  Chocolate Chip      2.5    1.25
14   Dennis Perelman 2018-03-11       Chocolate      4.0    3.00
15        Don Frazon 2018-03-02         Vanilla      4.0    3.00
16        Don Frazon 2018-03-23         Vanilla      4.0    3.00
17     Drew Roulette 2018-03-20         Vanilla      4.0    3.00
18     Drew Roulette 2018-03-01       Chocolate      4.0    3.00
19     Drew Roulette 2018-03-30         Vanilla      4.0    3.00
20     Drew Roulette 2018-03-10       Chocolate      4.0    3.00
21     Erin Davidson 2018-03-02         Vanilla      4.0    3.00
22     Erin Davidson 2018-03-24         Vanilla      4.0    3.00
23    Ian Richardson 2018-03-27       Chocolate      4.0    3.00
24    Ian Richardson 2018-03-29       Chocolate      4.0    3.00
25    Ian Richardson 2018-03-03       Chocolate      4.0    3.00
26    Ian Richardson 2018-03-24       Chocolate      4.0    3.00
27    Ian Richardson 2018-03-10         Vanilla      4.0    3.00
28  Malcolm Benjamin 2018-03-14         Vanilla      4.0    3.00
29  Malcolm Benjamin 2018-03-09       Chocolate      4.0    3.00
..               ...        ...             ...      ...     ...
56        Don Frazon 2018-03-10  Chocolate Chip      5.0    3.75
57        Don Frazon 2018-03-31  Chocolate Chip      5.0    3.75
58     Drew Roulette 2018-03-04  Chocolate Chip      NaN    3.75
59     Drew Roulette 2018-03-15    Cookie Dough      5.0    3.75
60     Erin Davidson 2018-03-11    Cookie Dough      5.0    3.75
61     Erin Davidson 2018-03-06    Cookie Dough      5.0    3.75
62    Ian Richardson 2018-03-20  Chocolate Chip      5.0    3.75
63      Lila Stevens 2018-03-11    Cookie Dough      5.0    3.75
64      Lila Stevens 2018-03-18    Cookie Dough      NaN     NaN
65      Lila Stevens 2018-03-07    Cookie Dough      5.0    3.75
66      Lila Stevens 2018-03-16    Cookie Dough      5.0    3.75
67      Lila Stevens 2018-03-03    Cookie Dough      5.0    3.75
68  Malcolm Benjamin 2018-03-04    Cookie Dough      5.0    3.75
69  Malcolm Benjamin 2018-03-23  Chocolate Chip      5.0    3.75
70  Malcolm Benjamin 2018-03-30  Chocolate Chip      5.0    3.75
71  Malcolm Benjamin 2018-03-17       Mint Chip      5.0    3.75
72     Sierra Noonan 2018-03-25  Chocolate Chip      5.0    3.75
73     Sierra Noonan 2018-03-18       Mint Chip      5.0    3.75
74     Sierra Noonan 2018-03-13  Chocolate Chip      5.0    3.75
75     Sierra Noonan 2018-03-23  Chocolate Chip      5.0    3.75
76     Sierra Noonan 2018-03-16       Mint Chip      5.0    3.75
77     Sierra Noonan 2018-03-03    Cookie Dough      5.0    3.75
78     Sierra Noonan 2018-03-10    Cookie Dough      5.0    3.75
79     Sierra Noonan 2018-03-17       Mint Chip      NaN    3.75
80    Silvio Carrera 2018-03-07    Cookie Dough      5.0    3.75
81    Silvio Carrera 2018-03-24  Chocolate Chip      5.0    3.75
82      Tony DiCenzo 2018-03-11  Chocolate Chip      5.0    3.75
83      Tony DiCenzo 2018-03-15  Chocolate Chip      5.0    3.75
84      Tony DiCenzo 2018-03-09  Chocolate Chip      5.0    3.75
85      Tony DiCenzo 2018-03-17       Mint Chip      5.0    3.75

[86 rows x 5 columns]

In [11]:
df.head()

           Customer       Date     Flavor  Revenue  Profit
10  Dennis Perelman 2018-03-28  Chocolate      2.0     1.0
20       Don Frazon 2018-03-28    Vanilla      2.0     1.0
30    Drew Roulette 2018-03-28    Vanilla      2.0     1.0
40    Erin Davidson 2018-03-28    Vanilla      2.0     1.0
50   Ian Richardson 2018-03-28    Vanilla      2.0     1.0

In [12]:
len(df[10:100])

76

In [13]:
df.append(df[10:100]).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 10 to 860
Data columns (total 5 columns):
Customer    162 non-null object
Date        162 non-null datetime64[ns]
Flavor      162 non-null object
Revenue     156 non-null float64
Profit      155 non-null float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 7.6+ KB

In [14]:
df.drop_duplicates(inplace=False, keep='first', subset=['Customer'])

             Customer       Date          Flavor  Revenue  Profit
10    Dennis Perelman 2018-03-28       Chocolate      2.0    1.00
20         Don Frazon 2018-03-28         Vanilla      2.0    1.00
30      Drew Roulette 2018-03-28         Vanilla      2.0    1.00
40      Erin Davidson 2018-03-28         Vanilla      2.0    1.00
50     Ian Richardson 2018-03-28         Vanilla      2.0    1.00
60      Sean Lansfrow 2018-03-28         Vanilla      2.0    1.00
70      Sierra Noonan 2018-03-28       Chocolate      2.0    1.00
80     Silvio Carrera 2018-03-28         Vanilla      2.0     NaN
100         Ted Price 2018-03-28       Chocolate      2.0    1.00
130  Malcolm Benjamin 2018-03-28  Chocolate Chip      2.5    1.25
140      Tony DiCenzo 2018-03-28  Chocolate Chip      2.5    1.25
640      Lila Stevens 2018-03-11    Cookie Dough      5.0    3.75

In [15]:
df.head()

           Customer       Date     Flavor  Revenue  Profit
10  Dennis Perelman 2018-03-28  Chocolate      2.0     1.0
20       Don Frazon 2018-03-28    Vanilla      2.0     1.0
30    Drew Roulette 2018-03-28    Vanilla      2.0     1.0
40    Erin Davidson 2018-03-28    Vanilla      2.0     1.0
50   Ian Richardson 2018-03-28    Vanilla      2.0     1.0

In [16]:
df.rename(columns={'Customer':'Cust'}).head()

               Cust       Date     Flavor  Revenue  Profit
10  Dennis Perelman 2018-03-28  Chocolate      2.0     1.0
20       Don Frazon 2018-03-28    Vanilla      2.0     1.0
30    Drew Roulette 2018-03-28    Vanilla      2.0     1.0
40    Erin Davidson 2018-03-28    Vanilla      2.0     1.0
50   Ian Richardson 2018-03-28    Vanilla      2.0     1.0

In [17]:
df.columns = [column.upper() for column in df.columns]

In [18]:
dlcol = list(df.columns)

In [19]:
type(dlcol)

list

In [20]:
type(df.columns.values.tolist())

list

In [21]:
df.isnull().sum()

CUSTOMER    0
DATE        0
FLAVOR      0
REVENUE     3
PROFIT      4
dtype: int64

In [22]:
df.dropna(subset=['PROFIT'])

             CUSTOMER       DATE          FLAVOR  REVENUE  PROFIT
10    Dennis Perelman 2018-03-28       Chocolate      2.0    1.00
20         Don Frazon 2018-03-28         Vanilla      2.0    1.00
30      Drew Roulette 2018-03-28         Vanilla      2.0    1.00
40      Erin Davidson 2018-03-28         Vanilla      2.0    1.00
50     Ian Richardson 2018-03-28         Vanilla      2.0    1.00
60      Sean Lansfrow 2018-03-28         Vanilla      2.0    1.00
70      Sierra Noonan 2018-03-28       Chocolate      2.0    1.00
90     Silvio Carrera 2018-03-28         Vanilla      2.0    1.00
100         Ted Price 2018-03-28       Chocolate      2.0    1.00
110        Don Frazon 2018-03-28  Chocolate Chip      2.5    1.25
120     Erin Davidson 2018-03-28  Chocolate Chip      2.5    1.25
130  Malcolm Benjamin 2018-03-28  Chocolate Chip      2.5    1.25
140      Tony DiCenzo 2018-03-28  Chocolate Chip      2.5    1.25
150   Dennis Perelman 2018-03-11       Chocolate      4.0    3.00
160        Don Frazon 2018-03-02         Vanilla      4.0    3.00
170        Don Frazon 2018-03-23         Vanilla      4.0    3.00
180     Drew Roulette 2018-03-20         Vanilla      4.0    3.00
190     Drew Roulette 2018-03-01       Chocolate      4.0    3.00
200     Drew Roulette 2018-03-30         Vanilla      4.0    3.00
210     Drew Roulette 2018-03-10       Chocolate      4.0    3.00
220     Erin Davidson 2018-03-02         Vanilla      4.0    3.00
230     Erin Davidson 2018-03-24         Vanilla      4.0    3.00
240    Ian Richardson 2018-03-27       Chocolate      4.0    3.00
250    Ian Richardson 2018-03-29       Chocolate      4.0    3.00
260    Ian Richardson 2018-03-03       Chocolate      4.0    3.00
270    Ian Richardson 2018-03-24       Chocolate      4.0    3.00
280    Ian Richardson 2018-03-10         Vanilla      4.0    3.00
290  Malcolm Benjamin 2018-03-14         Vanilla      4.0    3.00
300  Malcolm Benjamin 2018-03-09       Chocolate      4.0    3.00
310     Sean Lansfrow 2018-03-04         Vanilla      4.0    3.00
..                ...        ...             ...      ...     ...
550        Don Frazon 2018-03-18       Mint Chip      5.0    3.75
570        Don Frazon 2018-03-10  Chocolate Chip      5.0    3.75
580        Don Frazon 2018-03-31  Chocolate Chip      5.0    3.75
590     Drew Roulette 2018-03-04  Chocolate Chip      NaN    3.75
600     Drew Roulette 2018-03-15    Cookie Dough      5.0    3.75
610     Erin Davidson 2018-03-11    Cookie Dough      5.0    3.75
620     Erin Davidson 2018-03-06    Cookie Dough      5.0    3.75
630    Ian Richardson 2018-03-20  Chocolate Chip      5.0    3.75
640      Lila Stevens 2018-03-11    Cookie Dough      5.0    3.75
660      Lila Stevens 2018-03-07    Cookie Dough      5.0    3.75
670      Lila Stevens 2018-03-16    Cookie Dough      5.0    3.75
680      Lila Stevens 2018-03-03    Cookie Dough      5.0    3.75
690  Malcolm Benjamin 2018-03-04    Cookie Dough      5.0    3.75
700  Malcolm Benjamin 2018-03-23  Chocolate Chip      5.0    3.75
710  Malcolm Benjamin 2018-03-30  Chocolate Chip      5.0    3.75
720  Malcolm Benjamin 2018-03-17       Mint Chip      5.0    3.75
730     Sierra Noonan 2018-03-25  Chocolate Chip      5.0    3.75
740     Sierra Noonan 2018-03-18       Mint Chip      5.0    3.75
750     Sierra Noonan 2018-03-13  Chocolate Chip      5.0    3.75
760     Sierra Noonan 2018-03-23  Chocolate Chip      5.0    3.75
770     Sierra Noonan 2018-03-16       Mint Chip      5.0    3.75
780     Sierra Noonan 2018-03-03    Cookie Dough      5.0    3.75
790     Sierra Noonan 2018-03-10    Cookie Dough      5.0    3.75
800     Sierra Noonan 2018-03-17       Mint Chip      NaN    3.75
810    Silvio Carrera 2018-03-07    Cookie Dough      5.0    3.75
820    Silvio Carrera 2018-03-24  Chocolate Chip      5.0    3.75
830      Tony DiCenzo 2018-03-11  Chocolate Chip      5.0    3.75
840      Tony DiCenzo 2018-03-15  Chocolate Chip      5.0    3.75
850      Tony DiCenzo 2018-03-09  Chocolate Chip      5.0    3.75
860      Tony DiCenzo 2018-03-17       Mint Chip      5.0    3.75

[82 rows x 5 columns]

In [23]:
df

             CUSTOMER       DATE          FLAVOR  REVENUE  PROFIT
10    Dennis Perelman 2018-03-28       Chocolate      2.0    1.00
20         Don Frazon 2018-03-28         Vanilla      2.0    1.00
30      Drew Roulette 2018-03-28         Vanilla      2.0    1.00
40      Erin Davidson 2018-03-28         Vanilla      2.0    1.00
50     Ian Richardson 2018-03-28         Vanilla      2.0    1.00
60      Sean Lansfrow 2018-03-28         Vanilla      2.0    1.00
70      Sierra Noonan 2018-03-28       Chocolate      2.0    1.00
80     Silvio Carrera 2018-03-28         Vanilla      2.0     NaN
90     Silvio Carrera 2018-03-28         Vanilla      2.0    1.00
100         Ted Price 2018-03-28       Chocolate      2.0    1.00
110        Don Frazon 2018-03-28  Chocolate Chip      2.5    1.25
120     Erin Davidson 2018-03-28  Chocolate Chip      2.5    1.25
130  Malcolm Benjamin 2018-03-28  Chocolate Chip      2.5    1.25
140      Tony DiCenzo 2018-03-28  Chocolate Chip      2.5    1.25
150   Dennis Perelman 2018-03-11       Chocolate      4.0    3.00
160        Don Frazon 2018-03-02         Vanilla      4.0    3.00
170        Don Frazon 2018-03-23         Vanilla      4.0    3.00
180     Drew Roulette 2018-03-20         Vanilla      4.0    3.00
190     Drew Roulette 2018-03-01       Chocolate      4.0    3.00
200     Drew Roulette 2018-03-30         Vanilla      4.0    3.00
210     Drew Roulette 2018-03-10       Chocolate      4.0    3.00
220     Erin Davidson 2018-03-02         Vanilla      4.0    3.00
230     Erin Davidson 2018-03-24         Vanilla      4.0    3.00
240    Ian Richardson 2018-03-27       Chocolate      4.0    3.00
250    Ian Richardson 2018-03-29       Chocolate      4.0    3.00
260    Ian Richardson 2018-03-03       Chocolate      4.0    3.00
270    Ian Richardson 2018-03-24       Chocolate      4.0    3.00
280    Ian Richardson 2018-03-10         Vanilla      4.0    3.00
290  Malcolm Benjamin 2018-03-14         Vanilla      4.0    3.00
300  Malcolm Benjamin 2018-03-09       Chocolate      4.0    3.00
..                ...        ...             ...      ...     ...
570        Don Frazon 2018-03-10  Chocolate Chip      5.0    3.75
580        Don Frazon 2018-03-31  Chocolate Chip      5.0    3.75
590     Drew Roulette 2018-03-04  Chocolate Chip      NaN    3.75
600     Drew Roulette 2018-03-15    Cookie Dough      5.0    3.75
610     Erin Davidson 2018-03-11    Cookie Dough      5.0    3.75
620     Erin Davidson 2018-03-06    Cookie Dough      5.0    3.75
630    Ian Richardson 2018-03-20  Chocolate Chip      5.0    3.75
640      Lila Stevens 2018-03-11    Cookie Dough      5.0    3.75
650      Lila Stevens 2018-03-18    Cookie Dough      NaN     NaN
660      Lila Stevens 2018-03-07    Cookie Dough      5.0    3.75
670      Lila Stevens 2018-03-16    Cookie Dough      5.0    3.75
680      Lila Stevens 2018-03-03    Cookie Dough      5.0    3.75
690  Malcolm Benjamin 2018-03-04    Cookie Dough      5.0    3.75
700  Malcolm Benjamin 2018-03-23  Chocolate Chip      5.0    3.75
710  Malcolm Benjamin 2018-03-30  Chocolate Chip      5.0    3.75
720  Malcolm Benjamin 2018-03-17       Mint Chip      5.0    3.75
730     Sierra Noonan 2018-03-25  Chocolate Chip      5.0    3.75
740     Sierra Noonan 2018-03-18       Mint Chip      5.0    3.75
750     Sierra Noonan 2018-03-13  Chocolate Chip      5.0    3.75
760     Sierra Noonan 2018-03-23  Chocolate Chip      5.0    3.75
770     Sierra Noonan 2018-03-16       Mint Chip      5.0    3.75
780     Sierra Noonan 2018-03-03    Cookie Dough      5.0    3.75
790     Sierra Noonan 2018-03-10    Cookie Dough      5.0    3.75
800     Sierra Noonan 2018-03-17       Mint Chip      NaN    3.75
810    Silvio Carrera 2018-03-07    Cookie Dough      5.0    3.75
820    Silvio Carrera 2018-03-24  Chocolate Chip      5.0    3.75
830      Tony DiCenzo 2018-03-11  Chocolate Chip      5.0    3.75
840      Tony DiCenzo 2018-03-15  Chocolate Chip      5.0    3.75
850      Tony DiCenzo 2018-03-09  Chocolate Chip      5.0    3.75
860      Tony DiCenzo 2018-03-17       Mint Chip      5.0    3.75

[86 rows x 5 columns]

In [24]:
df.dropna(axis=1).head()

           CUSTOMER       DATE     FLAVOR
10  Dennis Perelman 2018-03-28  Chocolate
20       Don Frazon 2018-03-28    Vanilla
30    Drew Roulette 2018-03-28    Vanilla
40    Erin Davidson 2018-03-28    Vanilla
50   Ian Richardson 2018-03-28    Vanilla

In [25]:
df['REVENUE'].mean()

4.0602409638554215

In [26]:
df['CUSTOMER'].describe()

count                86
unique               12
top       Sierra Noonan
freq                 10
Name: CUSTOMER, dtype: object

In [27]:
df['REVENUE'].describe()

count    83.000000
mean      4.060241
std       0.985868
min       2.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: REVENUE, dtype: float64

In [28]:
df['CUSTOMER'].value_counts()

Sierra Noonan       10
Ted Price            9
Sean Lansfrow        8
Silvio Carrera       8
Don Frazon           8
Malcolm Benjamin     7
Drew Roulette        7
Ian Richardson       7
Tony DiCenzo         7
Erin Davidson        6
Lila Stevens         5
Dennis Perelman      4
Name: CUSTOMER, dtype: int64

In [29]:
df_g = df.groupby('FLAVOR')

In [30]:
df_rev_fla =df.groupby('FLAVOR')['REVENUE'].mean()
df_rev_fla

FLAVOR
Chocolate         3.727273
Chocolate Chip    4.375000
Cookie Dough      5.000000
Mint Chip         5.000000
Vanilla           3.461538
Name: REVENUE, dtype: float64

In [31]:
df.groupby('FLAVOR')['REVENUE'].mean()['Chocolate']

3.727272727272727

In [32]:
import numpy as np
df.isnull().sum()

CUSTOMER    0
DATE        0
FLAVOR      0
REVENUE     3
PROFIT      4
dtype: int64

In [33]:
df[df['REVENUE'].isnull()]['FLAVOR']

590    Chocolate Chip
650      Cookie Dough
800         Mint Chip
Name: FLAVOR, dtype: object

In [34]:
df.iloc[0:4]

           CUSTOMER       DATE     FLAVOR  REVENUE  PROFIT
10  Dennis Perelman 2018-03-28  Chocolate      2.0     1.0
20       Don Frazon 2018-03-28    Vanilla      2.0     1.0
30    Drew Roulette 2018-03-28    Vanilla      2.0     1.0
40    Erin Davidson 2018-03-28    Vanilla      2.0     1.0

In [35]:
df[ (df['FLAVOR']=='Chocolate') | (df['FLAVOR']=='Vanilla')].sort_values('FLAVOR').head()

            CUSTOMER       DATE     FLAVOR  REVENUE  PROFIT
10   Dennis Perelman 2018-03-28  Chocolate      2.0     1.0
500        Ted Price 2018-03-31  Chocolate      4.0     3.0
490        Ted Price 2018-03-16  Chocolate      4.0     3.0
480        Ted Price 2018-03-02  Chocolate      4.0     3.0
470        Ted Price 2018-03-15  Chocolate      4.0     3.0

In [36]:
df[ df['FLAVOR'].isin(['Chocolate', 'Vanilla'])].head()

           CUSTOMER       DATE     FLAVOR  REVENUE  PROFIT
10  Dennis Perelman 2018-03-28  Chocolate      2.0     1.0
20       Don Frazon 2018-03-28    Vanilla      2.0     1.0
30    Drew Roulette 2018-03-28    Vanilla      2.0     1.0
40    Erin Davidson 2018-03-28    Vanilla      2.0     1.0
50   Ian Richardson 2018-03-28    Vanilla      2.0     1.0

In [37]:
df['day'] = df['DATE'].apply(lambda x : x.day)

In [38]:
df.head()

           CUSTOMER       DATE     FLAVOR  REVENUE  PROFIT  day
10  Dennis Perelman 2018-03-28  Chocolate      2.0     1.0   28
20       Don Frazon 2018-03-28    Vanilla      2.0     1.0   28
30    Drew Roulette 2018-03-28    Vanilla      2.0     1.0   28
40    Erin Davidson 2018-03-28    Vanilla      2.0     1.0   28
50   Ian Richardson 2018-03-28    Vanilla      2.0     1.0   28

In [39]:
df[(df['day']==28 ) & (df['FLAVOR'] == 'Chocolate')]

            CUSTOMER       DATE     FLAVOR  REVENUE  PROFIT  day
10   Dennis Perelman 2018-03-28  Chocolate      2.0     1.0   28
70     Sierra Noonan 2018-03-28  Chocolate      2.0     1.0   28
100        Ted Price 2018-03-28  Chocolate      2.0     1.0   28

In [40]:
list(df['FLAVOR'].unique())

['Chocolate', 'Vanilla', 'Chocolate Chip', 'Cookie Dough', 'Mint Chip']

In [41]:
#day wise count
pd.DataFrame(df.groupby(['DATE','FLAVOR'])['FLAVOR'].count())

                           FLAVOR
DATE       FLAVOR
2018-03-01 Chocolate            1
2018-03-02 Chocolate            1
           Vanilla              2
2018-03-03 Chocolate            1
           Cookie Dough         2
2018-03-04 Chocolate Chip       1
           Cookie Dough         1
           Vanilla              1
2018-03-06 Chocolate            1
           Cookie Dough         1
2018-03-07 Cookie Dough         3
2018-03-08 Chocolate            1
           Vanilla              2
2018-03-09 Chocolate            1
           Chocolate Chip       1
2018-03-10 Chocolate            1
           Chocolate Chip       1
           Cookie Dough         1
           Vanilla              1
2018-03-11 Chocolate            2
           Chocolate Chip       1
           Cookie Dough         2
           Vanilla              1
2018-03-13 Chocolate Chip       1
           Vanilla              1
2018-03-14 Vanilla              1
2018-03-15 Chocolate            1
           Chocolate Chip       1
           Cookie Dough         1
2018-03-16 Chocolate            1
           Cookie Dough         1
           Mint Chip            2
2018-03-17 Mint Chip            4
           Vanilla              1
2018-03-18 Chocolate            1
           Cookie Dough         1
           Mint Chip            2
           Vanilla              1
2018-03-20 Chocolate Chip       1
           Vanilla              1
2018-03-21 Chocolate            1
2018-03-22 Vanilla              1
2018-03-23 Chocolate Chip       2
           Vanilla              1
2018-03-24 Chocolate            1
           Chocolate Chip       1
           Vanilla              2
2018-03-25 Chocolate            1
           Chocolate Chip       1
           Vanilla              1
2018-03-27 Chocolate            1
2018-03-28 Chocolate            3
           Chocolate Chip       4
           Vanilla              7
2018-03-29 Chocolate            1
2018-03-30 Chocolate Chip       1
           Vanilla              1
2018-03-31 Chocolate            2
           Chocolate Chip       1
           Vanilla              1

In [69]:

df_customer_profit = pd.DataFrame(df.groupby(['CUSTOMER','FLAVOR'])['PROFIT'].mean())
df_customer_profit

                                   PROFIT
CUSTOMER         FLAVOR
Dennis Perelman  Chocolate       2.000000
                 Cookie Dough    3.750000
                 Mint Chip       3.750000
Don Frazon       Chocolate Chip  2.916667
                 Mint Chip       3.750000
                 Vanilla         2.333333
Drew Roulette    Chocolate       3.000000
                 Chocolate Chip  3.750000
                 Cookie Dough    3.750000
                 Vanilla         2.333333
Erin Davidson    Chocolate Chip  1.250000
                 Cookie Dough    3.750000
                 Vanilla         2.333333
Ian Richardson   Chocolate       3.000000
                 Chocolate Chip  3.750000
                 Vanilla         2.000000
Lila Stevens     Cookie Dough    3.750000
Malcolm Benjamin Chocolate       3.000000
                 Chocolate Chip  2.916667
                 Cookie Dough    3.750000
                 Mint Chip       3.750000
                 Vanilla         3.000000
Sean Lansfrow    Vanilla         2.714286
Sierra Noonan    Chocolate       1.000000
                 Chocolate Chip  3.750000
                 Cookie Dough    3.750000
                 Mint Chip       3.750000
                 Vanilla         3.000000
Silvio Carrera   Chocolate       3.000000
                 Chocolate Chip  3.750000
                 Cookie Dough    3.750000
                 Vanilla         2.333333
Ted Price        Chocolate       2.777778
Tony DiCenzo     Chocolate       3.000000
                 Chocolate Chip  3.125000
                 Mint Chip       3.750000
                 Vanilla         3.000000

In [70]:
df_customer_profit['PROFIT']['Dennis Perelman']['Chocolate']

2.0

In [43]:
#flavor wise sale at each outlet
pd.DataFrame(df.groupby(['DATE'])['FLAVOR'].count().sort_values())

            FLAVOR
DATE
2018-03-01       1
2018-03-21       1
2018-03-14       1
2018-03-22       1
2018-03-29       1
2018-03-27       1
2018-03-09       2
2018-03-06       2
2018-03-13       2
2018-03-30       2
2018-03-20       2
2018-03-08       3
2018-03-04       3
2018-03-03       3
2018-03-15       3
2018-03-25       3
2018-03-02       3
2018-03-07       3
2018-03-23       3
2018-03-24       4
2018-03-16       4
2018-03-10       4
2018-03-31       4
2018-03-17       5
2018-03-18       5
2018-03-11       6
2018-03-28      14

In [44]:
#aggregation at date and flavor level
pd.DataFrame(df.groupby(['DATE','FLAVOR'])['REVENUE','PROFIT'].sum())

                           REVENUE  PROFIT
DATE       FLAVOR
2018-03-01 Chocolate           4.0    3.00
2018-03-02 Chocolate           4.0    3.00
           Vanilla             8.0    6.00
2018-03-03 Chocolate           4.0    3.00
           Cookie Dough       10.0    7.50
2018-03-04 Chocolate Chip      0.0    3.75
           Cookie Dough        5.0    3.75
           Vanilla             4.0    3.00
2018-03-06 Chocolate           4.0    3.00
           Cookie Dough        5.0    3.75
2018-03-07 Cookie Dough       15.0   11.25
2018-03-08 Chocolate           4.0    3.00
           Vanilla             8.0    6.00
2018-03-09 Chocolate           4.0    3.00
           Chocolate Chip      5.0    3.75
2018-03-10 Chocolate           4.0    3.00
           Chocolate Chip      5.0    3.75
           Cookie Dough        5.0    3.75
           Vanilla             4.0    3.00
2018-03-11 Chocolate           8.0    6.00
           Chocolate Chip      5.0    3.75
           Cookie Dough       10.0    7.50
           Vanilla             4.0    3.00
2018-03-13 Chocolate Chip      5.0    3.75
           Vanilla             4.0    0.00
2018-03-14 Vanilla             4.0    3.00
2018-03-15 Chocolate           4.0    3.00
           Chocolate Chip      5.0    3.75
           Cookie Dough        5.0    3.75
2018-03-16 Chocolate           4.0    3.00
           Cookie Dough        5.0    3.75
           Mint Chip          10.0    3.75
2018-03-17 Mint Chip          15.0   15.00
           Vanilla             4.0    3.00
2018-03-18 Chocolate           4.0    3.00
           Cookie Dough        0.0    0.00
           Mint Chip          10.0    7.50
           Vanilla             4.0    3.00
2018-03-20 Chocolate Chip      5.0    3.75
           Vanilla             4.0    3.00
2018-03-21 Chocolate           4.0    3.00
2018-03-22 Vanilla             4.0    3.00
2018-03-23 Chocolate Chip     10.0    7.50
           Vanilla             4.0    3.00
2018-03-24 Chocolate           4.0    3.00
           Chocolate Chip      5.0    3.75
           Vanilla             8.0    6.00
2018-03-25 Chocolate           4.0    3.00
           Chocolate Chip      5.0    3.75
           Vanilla             4.0    3.00
2018-03-27 Chocolate           4.0    3.00
2018-03-28 Chocolate           6.0    3.00
           Chocolate Chip     10.0    5.00
           Vanilla            14.0    6.00
2018-03-29 Chocolate           4.0    3.00
2018-03-30 Chocolate Chip      5.0    3.75
           Vanilla             4.0    3.00
2018-03-31 Chocolate           8.0    6.00
           Chocolate Chip      5.0    3.75
           Vanilla             4.0    3.00

In [53]:
df2 = pd.DataFrame(df.groupby(['FLAVOR'])['PROFIT'].mean())
df2

                  PROFIT
FLAVOR
Chocolate       2.727273
Chocolate Chip  3.161765
Cookie Dough    3.750000
Mint Chip       3.750000
Vanilla         2.500000

In [56]:
df2['PROFIT']['Chocolate']

2.727272727272727

In [71]:
df['PROFIT'].mean()

2.9878048780487805

In [74]:
df_customer_profit["profitable"] = df_customer_profit["PROFIT"].apply(lambda x: 'yes' if x >=  df['PROFIT'].mean() else 'no')

In [75]:
df_customer_profit

                                   PROFIT better profit profitable
CUSTOMER         FLAVOR
Dennis Perelman  Chocolate       2.000000           bad         no
                 Cookie Dough    3.750000          good        yes
                 Mint Chip       3.750000          good        yes
Don Frazon       Chocolate Chip  2.916667           bad         no
                 Mint Chip       3.750000          good        yes
                 Vanilla         2.333333           bad         no
Drew Roulette    Chocolate       3.000000          good        yes
                 Chocolate Chip  3.750000          good        yes
                 Cookie Dough    3.750000          good        yes
                 Vanilla         2.333333           bad         no
Erin Davidson    Chocolate Chip  1.250000           bad         no
                 Cookie Dough    3.750000          good        yes
                 Vanilla         2.333333           bad         no
Ian Richardson   Chocolate       3.000000          good        yes
                 Chocolate Chip  3.750000          good        yes
                 Vanilla         2.000000           bad         no
Lila Stevens     Cookie Dough    3.750000          good        yes
Malcolm Benjamin Chocolate       3.000000          good        yes
                 Chocolate Chip  2.916667           bad         no
                 Cookie Dough    3.750000          good        yes
                 Mint Chip       3.750000          good        yes
                 Vanilla         3.000000          good        yes
Sean Lansfrow    Vanilla         2.714286           bad         no
Sierra Noonan    Chocolate       1.000000           bad         no
                 Chocolate Chip  3.750000          good        yes
                 Cookie Dough    3.750000          good        yes
                 Mint Chip       3.750000          good        yes
                 Vanilla         3.000000          good        yes
Silvio Carrera   Chocolate       3.000000          good        yes
                 Chocolate Chip  3.750000          good        yes
                 Cookie Dough    3.750000          good        yes
                 Vanilla         2.333333           bad         no
Ted Price        Chocolate       2.777778           bad         no
Tony DiCenzo     Chocolate       3.000000          good        yes
                 Chocolate Chip  3.125000          good        yes
                 Mint Chip       3.750000          good        yes
                 Vanilla         3.000000          good        yes

In [83]:
df_customer_profit[df_customer_profit['profitable']=='yes'].shape[0]

25

In [82]:
df_customer_profit[df_customer_profit['profitable']=='no'].shape[0]

12

In [84]:
df_customer_profit['profitable'].describe()

count      37
unique      2
top       yes
freq       25
Name: profitable, dtype: object